body{
	position: relative;
	position: absolute;
	top: 0px;
	left: 0px;
	float: left;
	float: right;
	width: 3px;
	height: 3px;
	line-height: 3px;
	border: 1px solid #eee;
	border-radius: 5px;
	background: url() no-repeat center;
}
